/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: #090215;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}